<section class="d-wrapper mb-3">
  <h1 class="text-center d-title">RESEND CONFIRMATION INSTRUCTIONS</h1>
  <div class="d-container">
    <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), data: { turbo: :false }, html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <%= f.full_error :confirmation_token %>

      <div class="form-inputs">
        <%= f.input :phone,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "PHONE" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Resend confirmation instructions" %>
      </div>
    <% end %>
  </div>
  <h1></h1>
</section>
