<section class="mw-700 mb-3 pb-5">
  <%= simple_form_for @task do |f| %>
    <div class="f-wrapper">
      <div class="d-flex justify-content-between w-100 ">
        <h1 class="d-title mb-5">ASSIGN TASK</h1>
        <%= f.input :unscheduled, label: "UNSCHEDULED" %>
      </div>
      <div class="f-container">
          <div class="row mt-4">
            <div class="col-6">
              <%= f.input :start_date, as: :date, required: true, html5: true %>
            </div>
            <div class="col-6">
              <%= f.input :end_date, as: :date, required: true, html5: true %>
            </div>
          </div>
          <%= f.input :title %>
          <%= f.input :extra_info, label: "Details" %>
          <%= f.association :technician,
            as: :radio_buttons,
            collection: User.where(:manager => false),
            label_method: lambda { |technician| "#{technician.first_name.upcase} #{technician.last_name.upcase}" },
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'} %>
          <%= f.association :service %>
          <%= f.association :equipment %>
          <%= f.association :waterpoint, :label_method => lambda { |waterpoint| "#{waterpoint.network.name} #{waterpoint.waterpoint_type}" } %>
          <%= f.button :submit, 'CREATE A TASK', class: "primary-btn mt-4" %>
      </div>
    </div>
  <% end %>
</section>
