<div data-controller="tasks">
  <div class="d-flex mw-800 mb-3">
    <div class="t-info">
      <h4 class="mb-3 d-title d-flex align-items-center">
        <%= @task.title.upcase %>
        <% if policy(Task).new? %>
          <span class="d-flex ms-3">
            <%= link_to edit_task_path(@task), class: 'option-link' do %>
              <i class="bi bi-pen-fill"></i>
            <% end %>
            <%= link_to task_path(@task), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete the network #{@task.title}?"}, class: 'option-link' do %>
              <i class="bi bi-trash3-fill"></i>
            <% end %>
          </span>
        <% end %>
        <% if !@task.completed && policy(@task).completed? %>
          <%= link_to "COMPLETE TASK", completed_task_path(@task), class: "primary-btn ms-3" %>
        <% end %>
      </h4>
      <p class="text-green mb-1"><span class="bold">TECHNICIAN:</span> <%= @task.technician.full_name.upcase %></p>
      <p class="text-green"><span class="bold">ASSIGNED BY:</span> <%= @task.issuer.full_name.upcase %></p>
      <span class="task-tag me-2">
        <p class="<%= @task.completed ? 'task-green' : 'task-red' %> mb-0 me-2"></p>
        <% if !@task.completed && Date.today > @task.end_date %>
          <p class="mb-0">OVERDUE</p>
        <% else %>
          <p class="mb-0"><%= @task.completed ? 'COMPLETED' : 'INCOMPLETE' %></p>
        <% end %>
      </span>
      <span class="task-tag">
        <p class="<%= @task.unscheduled ? 'task-red' : 'task-green' %> mb-0 me-2"></p>
        <p class="mb-0"><%= @task.unscheduled ? " UNSCHEDULED" : "SCHEDULED" %></p>
      </span>
    </div>
    <div class="t-dates">
      <section class="me-3">
        <p class="text-green mb-1">START DATE</p>
        <p class="text-green bold mb-0"><%= @task.start_date.strftime('%d/%m/%Y') %></p>
      </section>
      <section>
        <p class="text-green mb-1">DUE DATE</p>
        <p class="text-green bold mb-0"><%= @task.end_date.strftime('%d/%m/%Y') %></p>
      </section>
    </div>
  </div>

  <section class="mb-3">
    <h6 class="headers pb-3 mb-3 border-bottom">DETAILS</h6>
    <p><%= @task.extra_info %></p>
  </section>
  <div style="width: 100%; height: 300px;"
       data-controller="map"
       data-map-markers-value="<%= @markers.to_json %>"
       data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <hr>
  <section class="mb-3">
    <div class="d-flex justify-content-between align-items-center">
      <h6 class="headers mb-0">COMMENTS</h6>
      <%= link_to 'ADD COMMENT', new_task_comment_path(@task), class: 'secondary-btn' if policy(Comment).new? %>
    </div>
    <% @task.comments.each_with_index do |comment, index| %>
      <div class="border-top mt-3 pt-3 c-card">
        <p class="ps-3"><%= comment.content %></p>
        <% if comment.photos.attached? %>
          <% comment.photos.each do |photo| %>
            <%= cl_image_tag photo.key, class: 'c-imgs', data: { bs_toggle: "modal", bs_target: "#expandImg", action: "click->tasks#expand" } %>
          <% end %>
        <% end %>
        <p class="ps-3 c-time">posted by <%= comment.user.full_name %> <%= time_ago_in_words(comment.created_at) %></p>
        <%# if policy(@comment).edit? %>
          <div class="menu-options dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            •••
          </div>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "EDIT", edit_task_comment_path(@task, comment), class: "dropdown-item" %>
            <%= link_to "DELETE", comment_path(comment), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "dropdown-item" %>
          </div>
        <%# end %>
      </div>
    <% end %>
  </section>

  <!-- Modal -->

  <div class="modal fade" id="expandImg" tabindex="-1" aria-labelledby="expandLabel" aria-hidden="true">
    <div class="modal-dialog">
      <!-- <div class="modal-content"> -->
          <img data-tasks-target="image" src="" alt="">
      <!-- </div> -->
    </div>
  </div>
</div>
