<section class="mw-700 d-flex justify-content-between mb-3">
  <%= form_with url: equipments_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control search-bar",
      placeholder: "Find an equipment"
    %>
  <% end %>
  <%= link_to 'ADD EQUIPMENT', new_equipment_path, class: 'primary-btn' if policy(Equipment).new? %>
</section>
<section class="mw-700 mb-3">
  <div class="e-grid border-bottom mb-4">
    <h6 class="headers">ID</h6>
    <h6 class="headers">NAME</h6>
    <h6 class="headers">NETWORK</h6>
    <h6 class="headers">WATERPOINT</h6>
    <h6 class="headers">DATE OF INSTALLATION</h6>
    <h6 class="headers">WARRANTY</h6>
  </div>
  <% @equipments.each do |equipment| %>
    <div class="network">
      <%= link_to equipment_path(equipment), class: 'text-decoration-none' do %>
        <div class="e-grid">
          <p><%= equipment.id %></p>
          <p><%= equipment.name.upcase %></p>
          <p><%= equipment.waterpoint.network.name.upcase %></p>
          <p><%= equipment.waterpoint.waterpoint_type.upcase %></p>
          <p><%= equipment.date_of_installation.strftime('%d/%m/%Y') %></p>
          <p class="<%= 'text-red bold' if Date.today > equipment.warranty %>"><%= Date.today > equipment.warranty ? "EXPIRED" : equipment.warranty.strftime('%d/%m/%Y') %></p>
        </div>
      <% end %>
      <% if policy(Equipment).new? %>
        <div class="menu-options dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          •••
        </div>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "EDIT #{equipment.name.upcase}", edit_equipment_path(equipment), class: "dropdown-item" %>
          <%= link_to "DELETE #{equipment.name.upcase}", equipment_path(equipment), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete the equipment #{equipment.name}?"}, class: "dropdown-item" %>
        </div>
      <% end %>
    </div>
  <% end %>
</section>
