<section>
  <div class="f-wrapper">
    <h1 class="text-center d-title mb-5">ADD NETWORK</h1>
    <div class="d-container">
      <%= simple_form_for @network do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :number_of_households %>
        <%= f.input :max_households %>
        <%= f.submit 'ADD NETWORK', class: 'primary-btn' %>
      <% end %>
    </div>
  </div>
</section>
