<section class="mw-800 mb-3">
  <%= simple_form_for @network do |f| %>
    <div class="f-wrapper">
      <div class="d-flex justify-content-between w-100 ">
        <h1 class="d-title mb-5 w-100">ADD NETWORK</h1>
      </div>
      <div class="f-container">
       <div class="row mt-4">
          <div class="col-6">
            <%= f.input :name %>
          </div>
          <div class="col-6">
            <%= f.input :address %>
          </div>
        </div>
        <%= f.input :number_of_households %>
        <%= f.input :max_households %>
        <%= f.submit 'ADD NETWORK', class: 'primary-btn mt-4' %>
      </div>
    </div>
  <% end %>
</section>
