<h4 class="mb-3 headers d-flex align-items-center">
  <%= @network.name.upcase %> NETWORK
  <% if policy(Network).new? %>
    <span class="d-flex ms-3">
      <%= link_to edit_network_path(@network), class: 'option-link' do %>
        <i class="bi bi-pen-fill"></i>
      <% end %>
      <%= link_to network_path(@network), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete the network #{@network.name}?"}, class: 'option-link' do %>
        <i class="bi bi-trash3-fill"></i>
      <% end %>
    </span>
  <% end %>
</h4>
<div class="g-two mb-3">
  <div class="g-four">
    <section class="info-square">
      <p>NUMBER OF HOUSEHOLD CONNECTIONS</p>
      <% if @network.number_of_households == @network.max_households %>
        <span class="text-red">FULL</span>
      <% else %>
        <span class="text-green"><%= @network.number_of_households %>/<%= @network.max_households %></span>
      <% end %>
    </section>
    <section class="info-square">
      <p>NUMBER OF TASKS</p>
      <span>47</span>
    </section>
    <section class="info-square">
      <p>STATUS COMPLETED TASKS</p>
      <span>78%</span>
    </section>
    <section class="info-square">
      <p>NEXT MAINTENANCE</p>
      <span>24/1/2023</span>
    </section>
  </div>
  <div style="width: 100%; height: 100%;"
       data-controller="map"
       data-map-markers-value="<%= @markers.to_json %>"
       data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<section class="mw-700 mb-3">
  <div class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-3">
    <h6 class="headers mb-0 ps-3">WATERPOINTS</h6>
    <%= link_to 'ADD WATERPOINT', new_network_waterpoint_path(@network), class: 'secondary-btn' if policy(Waterpoint).new? %>
  </div>
  <div class="network-grid border-bottom mb-4">
    <h6 class="headers">NAME</h6>
    <h6 class="headers">WATERPOINT TYPE</h6>
    <h6 class="headers">MANUFACTURER</h6>
    <h6 class="headers">WARRANTY</h6>
    <h6 class="headers">EFFICIENCY</h6>
  </div>
  <% @network.waterpoints.each do |waterpoint| %>
    <div class="network">
      <div class="network-grid">
        <p><%= waterpoint.name.upcase %></p>
        <p><%= waterpoint.waterpoint_type.upcase %></p>
        <p><%= waterpoint.manufacturer.upcase %></p>
        <p><%= waterpoint.warranty.upcase %></p>
        <p><%= waterpoint.efficiency.upcase %></p>
      </div>
      <% if policy(Waterpoint).new? %>
        <div class="menu-options dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          •••
        </div>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "EDIT #{waterpoint.name.upcase}", edit_network_waterpoint_path(@network, waterpoint), class: "dropdown-item" %>
          <%= link_to "DELETE #{waterpoint.name.upcase}", waterpoint_path(waterpoint), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete the waterpoint #{waterpoint.name}?"}, class: "dropdown-item" %>
        </div>
      <% end %>
    </div>
  <% end %>
</section>

<section class="mw-700 mb-3">
  <div class="network-grid border-bottom mb-4">
    <h6 class="headers">EQUIPMENT</h6>
    <h6 class="headers">EQUIPMENT TYPE</h6>
    <h6 class="headers">WATERPOINT</h6>
    <h6 class="headers">WARRANTY VALID</h6>
  </div>
  <% @waterpoint_equipments.each do |waterpoint_equipment| %>
    <div class="network">
      <div class="network-grid">
        <p><%= waterpoint_equipment.equipment.name.upcase %></p>
        <p><%= waterpoint_equipment.equipment.equipment_type.upcase %></p>
        <p><%= waterpoint_equipment.waterpoint.name.upcase %> <%= waterpoint_equipment.waterpoint.waterpoint_type.upcase %></p>
        <p><%= waterpoint_equipment.equipment.warranty %></p>
      </div>
      <%# if policy(Equipment).new? %>
<!--         <div class="menu-options dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          •••
        </div>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%#= link_to "EDIT #{equipment.name.upcase}", edit_equipment_path(equipment), class: "dropdown-item" %>
          <%#= link_to "DELETE #{equipment.name.upcase}", equipment_path(equipment), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete the equipment #{equipment.name}?"}, class: "dropdown-item" %>
        </div> -->
      <%# end %>
    </div>
  <% end %>
</section>
