<div class="g-two mb-3">
  <section class="d-tt d-fixed-scroll p-3">
    <div class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-3">
      <h6 class="headers mb-0 ps-3">TODAY'S TASKS</h6>
      <%= link_to 'ALL TASKS', tasks_path, class: 'secondary-btn' %>
    </div>
    <div class="d-four border-bottom mb-4">
      <h6 class="headers">TASK</h6>
      <h6 class="headers">TECHNICIAN</h6>
      <h6 class="headers">DUE DATE</h6>
      <h6 class="headers">NETWORK</h6>
      <!-- <h6 class="headers">STATUS</h6> -->
    </div>
    <% @tasks.first(3).each do |task| %>
      <div class="network">
        <%= link_to task_path(task), class: 'text-decoration-none' do %>
          <div class="d-four">
            <p><%= task.title.upcase %></p>
            <p><%#= cl_image_tag task.technician.avatar.key, class: 'avatar me-2' %> <%= task.technician.full_name.upcase %></p>
            <p><%= task.end_date.strftime('%d/%m/%Y') %></p>
            <p><%= task.network.name.upcase %></p>
            <!-- <p class="<%#= task.completed ? 'task-green' : 'task-red' %>"></p> -->
            <!-- <p><%#= task.schedule.upcase %></p> -->
          </div>
        <% end %>
        <% if policy(task).new? %>
          <div class="menu-options dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            •••
          </div>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "EDIT", edit_task_path(task), class: "dropdown-item" %>
            <%= link_to "DELETE", task_path(task), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete the task #{task.title}?"}, class: "dropdown-item" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </section>
  <section class="d-ot">
    <div class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-3">
      <h6 class="headers mb-0 pe-2" style="width: 150px;">NETWORKS WITH MOST MAINTENANCE</h6>
      <!-- <h6 class="headers mb-0 ps-3">TODAY'S TASKS</h6> -->
      <%= link_to 'ALL NETWORKS', networks_path, class: 'secondary-btn' %>
    </div>
    <%= pie_chart({"COMPLETE" => @complete, "INCOMPLETE" => @incomplete}, donut: true, height: "280px", width: "280px") %>
  </section>
</div>
<section class="mb-3">
  <div class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-3">
    <h6 class="headers mb-0">THIS MONTHS INCOMPLETED TASKS</h6>
    <%= link_to 'VIEW STATS', stats_path, class: 'secondary-btn' %>
  </div>
  <%= column_chart @tasks_per_month, colors: ["rgba(246, 158, 54, 1)"], legend: false, height: "220px", discrete: true, label: "TODAY'S TASKS"  %>
</section>
