<div class="g-two mb-3">
  <section class="d-tt p-4">
    <p class="">TODAYS TASKS</p>
    <div class="network-grid border-bottom mb-4">
      <h6 class="headers">TASK</h6>
      <h6 class="headers">TECHNICIAN</h6>
      <h6 class="headers">DUE DATE</h6>
      <h6 class="headers">NETWORK</h6>
      <!-- <h6 class="headers">STATUS</h6> -->
    </div>
    <% @tasks.first(3).each do |task| %>
      <div class="network">
        <%= link_to task_path(task), class: 'text-decoration-none' do %>
          <div class="network-grid">
            <p><%= task.title.upcase %></p>
            <p><%= cl_image_tag task.technician.avatar.key, class: 'avatar me-2' %> <%= task.technician.full_name.upcase %></p>
            <p><%= task.end_date.strftime('%d/%m/%Y') %></p>
            <p><%= task.network.name.upcase %></p>
            <!-- <p class="<%#= task.completed ? 'task-green' : 'task-red' %>"></p> -->
            <!-- <p><%#= task.schedule.upcase %></p> -->
          </div>
        <% end %>
        <% if policy(task).new? %>
          <div class="menu-options dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            •••
          </div>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "EDIT", edit_task_path(task), class: "dropdown-item" %>
            <%= link_to "DELETE", task_path(task), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete the task #{task.title}?"}, class: "dropdown-item" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </section>
  <section class="d-ot">
    <p class="text-center">NETWORKS WITH MOST MAINTENANCE</p>
    <%= pie_chart({"COMPLETE" => @complete, "INCOMPLETE" => @incomplete}, donut: true, height: "280px", width: "280px") %>
  </section>
</div>
<section class="mb-3">
  <p class="">THIS MONTHS INCOMPLETED TASKS</p>
  <%= column_chart Task.group(:completed).group_by_day(:created_at).count %>
</section>
