<div class="w-view">
  <div class="g-two mb-3">
    <section class="d-tt d-fixed-scroll p-3">
      <div class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-3">
        <h6 class="headers mb-0 ps-3"><%= current_user.manager ? "TODAY'S TASKS" : "MY TASKS"  %></h6>
        <%= link_to 'ALL TASKS', tasks_path, class: 'secondary-btn' %>
      </div>
      <div class="d-four border-bottom mb-4">
        <h6 class="headers">TASK</h6>
        <h6 class="headers">TECHNICIAN</h6>
        <h6 class="headers">DUE DATE</h6>
        <h6 class="headers">NETWORK</h6>
        <!-- <h6 class="headers">STATUS</h6> -->
      </div>
      <% (current_user.manager ? @tasks : @my_tasks).first(5).each do |task| %>
        <div class="network">
          <%= link_to task_path(task), class: 'text-decoration-none' do %>
            <div class="d-four">
              <p><%= task.title.upcase %></p>
              <p><%= task.technician.full_name.upcase %></p>
              <p><%= task.end_date.strftime('%d/%m/%Y') %></p>
              <p><%= task.network.name.upcase %></p>
              <!-- <p class="<%#= task.completed ? 'task-green' : 'task-red' %>"></p> -->
              <!-- <p><%#= task.schedule.upcase %></p> -->
            </div>
          <% end %>
          <% if policy(task).new? %>
            <div class="menu-options dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              •••
            </div>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "EDIT", edit_task_path(task), class: "dropdown-item" %>
              <%= link_to "DELETE", task_path(task), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete the task #{task.title}?"}, class: "dropdown-item" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </section>
    <section class="d-ot">
      <div class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-3">
        <h6 class="headers mb-0 pe-2" style="width: 150px;">TASKS DUE BY TODAY</h6>
        <!-- <h6 class="headers mb-0 ps-3">TODAY'S TASKS</h6> -->
        <%= link_to 'ALL NETWORKS', networks_path, class: 'secondary-btn' %>
      </div>
      <%= pie_chart @due_tasks, donut: true, height: "280px", width: "280px", colors: ["#FD8B05", "#0073DE"] %>
    </section>
  </div>
  <section class="mb-3">
    <div class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-3">
      <h6 class="headers mb-0">THIS MONTHS INCOMPLETED TASKS</h6>
      <%= link_to 'VIEW STATS', stats_path, class: 'secondary-btn' %>
    </div>
    <%= column_chart @tasks_per_month, colors: ["rgba(246, 158, 54, 1)"], legend: false, height: "220px", discrete: true, label: "TODAY'S TASKS"  %>
  </section>
</div>

<!------------- MOBILE ------------->
<!------------- VIEW ------------->
<!------------- BELOW ------------->

<div class="m-view">

  <div class="d-flex justify-content-between align-items-center pb-3">
    <h4 class="mb-0 d-title">TASKS DUE TODAY</h4>
  </div>
  <section class="m-card">
    <%= pie_chart @due_tasks, donut: true, height: "280px", width: "100%", colors: ["#FD8B05", "#0073DE"] %>
  </section>

  <% tasks = current_user.manager ? @tasks : @my_tasks %>
  <div class="d-flex justify-content-between align-items-center pb-3">
    <h4 class="mb-0 d-title">TODAY'S TASKS</h4>
    <%= link_to 'ALL TASKS', tasks_path, class: 'secondary-btn' %>
  </div>
  <% tasks.first(5).each do |task| %>
    <section class="m-card">
      <%= link_to task_path(task), class: 'text-decoration-none' do %>
        <div class="">
          <p class="bold"><%= task.title.upcase %></p>
          <hr>
          <div class="d-flex align-items-center mb-3">
            <% if task.technician.avatar.attached? %>
              <%= cl_image_tag task.technician.avatar.key, class: "avatar me-2" %>
            <% else %>
              <div class="m-ai me-2">
                <%= task.technician.initials %>
              </div>
            <% end %>
            <p class="mb-0"><%= task.technician.full_name.upcase %></p>
          </div>
          <div class="d-flex align-items-center mb-3">
            <%= image_tag 'card-cal.png', class: 'card-i' %><p class="mb-0"><%= task.end_date.strftime('%d/%m/%Y') %></p>
          </div>
          <div class="d-flex align-items-center mb-3">
            <%= image_tag 'card-tap.png', class: 'card-i' %><p class="mb-0"><%= task.network.name.upcase %> <%= task.waterpoint.waterpoint_type.upcase %></p>
          </div>
          <p class="m-tag me-1 <%= task.unscheduled ? 'red-bg' : 'green-bg' %>"><%= task.unscheduled ? "REACTIVE" : "SCHEDULED" %></p>
          <% if !task.completed && Date.today > task.end_date %>
            <p class="m-tag red-bg">OVERDUE</p>
          <% else %>
            <p class="m-tag <%= task.completed ? 'green-bg' : 'red-bg' %>"><%= task.completed ? 'COMPLETED' : 'INCOMPLETE' %></p>
          <% end %>
        </div>
      <% end %>
      <% if policy(task).new? %>
        <div class="menu-options dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          •••
        </div>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "EDIT", edit_task_path(task), class: "dropdown-item" %>
          <%= link_to "DELETE", task_path(task), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete the task #{task.title}?"}, class: "dropdown-item" %>
        </div>
      <% end %>
    </section>
  <% end %>

  <div class="d-flex justify-content-between align-items-center pb-3">
    <h4 class="mb-0 d-title">INCOMPLETED TASKS</h4>
    <%= link_to 'VIEW STATS', stats_path, class: 'secondary-btn' %>
  </div>
  <section class="m-card">
    <%= column_chart @tasks_per_month, colors: ["rgba(246, 158, 54, 1)"], legend: false, height: "220px", discrete: true, label: "TODAY'S TASKS"  %>
  </section>

</div>
