<p><span>WATERPOINT:</span> <%= waterpoint.name.upcase %></p>
<p><span>WATERPOINT TYPE:</span> <%= waterpoint.waterpoint_type.upcase %></p>
<p><span>MANUFACTURER:</span> <%= waterpoint.manufacturer.upcase %></p>
<p><span>DESIGN PERIOD:</span> <%= waterpoint.design_period.upcase %></p>
<p class="mb-0"><span>EFFICIENCY:</span> <%= waterpoint.efficiency.upcase %></p>
