<div class="sidebar">
  <div class="">
    <% if policy(Task).create? %>
      <%= link_to 'CREATE TASK', new_task_path, class: 'primary-btn mb-2' %>
    <% end %>
    <%= link_to root_path, class: "sidebar-link #{ 'active' if params[:action] == 'dashboard'  }" do %>
      <div>
        <%= image_tag 'home.png' %>
        <p>HOME</p>
      </div>
    <% end %>
<!--     <%#= link_to stats_path, class: "sidebar-link #{ 'active' if params[:action] == 'stats'  }" do %>
      <div>
        <%#= image_tag 'chart.png' %>
        <p>STATS</p>
      </div>
    <%# end %> -->
    <%= link_to tasks_path, class: "sidebar-link #{ 'active' if params[:controller] == 'tasks'  }" do %>
      <div>
        <%= image_tag 'task.png' %>
        <p>TASKS</p>
      </div>
    <% end %>
    <%= link_to networks_path, class: "sidebar-link #{ 'active' if params[:controller] == 'networks'  }" do %>
      <div>
        <%= image_tag 'network.png' %>
        <p>NETWORKS</p>
      </div>
    <% end %>
    <%= link_to technicians_path, class: "sidebar-link #{ 'active' if params[:controller] == 'users' && params[:action] == 'index'  }" do %>
      <div>
        <%= image_tag 'technician.png' %>
        <p>TECHNICIANS</p>
      </div>
    <% end %>
    <%= link_to equipments_path, class: "sidebar-link #{ 'active' if params[:controller] == 'equipments'  }" do %>
      <div>
        <%= image_tag 'equipment.png' %>
        <p>EQUIPMENT</p>
      </div>
    <% end %>
    <%= link_to services_path, class: "sidebar-link #{ 'active' if params[:controller] == 'services'  }" do %>
      <div>
        <%= image_tag 'service.png' %>
        <p>SERVICES</p>
      </div>
    <% end %>
  </div>
</div>
