<div class="sidebar">
  <div class="">
    <%#= link_to 'CREATE TASK', new_task_path, class: 'primary-btn mb-2' %>
    <%= link_to root_path, class: "sidebar-link #{ 'active' if params[:action] == 'dashboard'  }" do %>
      <div>
        <%= image_tag 'home.png' %>
        <p>HOME</p>
      </div>
    <% end %>
    <%= link_to stats_path, class: "sidebar-link #{ 'active' if params[:action] == 'stats'  }" do %>
      <div>
        <%= image_tag 'chart.png' %>
        <p>STATS</p>
      </div>
    <% end %>
    <%= link_to tasks_path, class: "sidebar-link #{ 'active' if params[:controller] == 'tasks'  }" do %>
      <div>
        <%= image_tag 'task.png' %>
        <p>TASKS</p>
      </div>
    <% end %>
    <%= link_to networks_path, class: "sidebar-link #{ 'active' if params[:controller] == 'networks'  }" do %>
      <div>
        <%= image_tag 'network.png' %>
        <p>NETWORKS</p>
      </div>
    <% end %>
    <%= link_to equipments_path, class: "sidebar-link #{ 'active' if params[:controller] == 'equipments'  }" do %>
      <div>
        <%= image_tag 'equipment.png' %>
        <p>EQUIPMENT</p>
      </div>
    <% end %>
    <%= link_to services_path, class: "sidebar-link #{ 'active' if params[:controller] == 'services'  }" do %>
      <div>
        <%= image_tag 'service.png' %>
        <p>SERVICES</p>
      </div>
    <% end %>
  </div>
  <!-- <div class="">
    <%# if user_signed_in? %>
      <li class="nav-item dropdown border-top">
        <%# if current_user.avatar.attached? %>
          <%#= cl_image_tag current_user.avatar.key, class: "avatar-nav dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <%# else %>
          <div class="avatar-initials dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%#= current_user.initials %>
          </div>
        <%# end %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%#= link_to "CREATE TASK", "#", class: "dropdown-item" %>
          <%#= link_to "LOG OUT", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-info">
        <h6><%#= current_user.full_name.upcase %></h6>
        <p><%#= current_user.manager ? "MANAGER" : "TECHNICIAN" %></p>
      </li>
      <div class="d-flex justify-content-center mb-5 mt-4">
        <%#= link_to "LOG OUT", destroy_user_session_path, data: {turbo_method: :delete}, class: "third-btn" %>
      </div>
    <%# end %>
  </div> -->
</div>
