<div class="d-flex mw-700 mb-3">
  <div class="t-info">
    <h4 class="mb-3 headers d-flex align-items-center pe-3">
      MAINTENANCE DASHBOARD
    </h4>
  </div>
  <div class="t-dates">
    <section class="me-3 p-3">
      <p class="text-green mb-1">TOTAL NO. OF HOUSEHOLD CONNECTIONS</p>
      <p class="text-green bold mb-0"><%= Network.sum(:number_of_households) %></p>
    </section>
    <section class="p-3">
      <p class="text-green mb-1">TOTAL NO. OF COMPLETE TASKS</p>
      <p class="text-green bold mb-0"><%= Task.where(completed: true).count %></p>
    </section>
  </div>
</div>
<div class="g-two mb-3">
  <section class="s-ot p-4">
    <p class="text-center">COMPLETE/INCOMPLETE TASKS</p>
    <%= pie_chart({"COMPLETE" => @complete, "INCOMPLETE" => @incomplete}, donut: true, height: "280px", width: "280px") %>
  </section>
  <section class="s-tt">
    <p class="text-center">TOTAL NO. OF TASKS BY TECHNICIAN</p>
    <%= bar_chart Task.joins(:technician).group("users.first_name").count, colors: ["rgba(0,115,222,1)"] %>
  </section>
</div>
<div class="g-two mb-3">
  <section>
    <p class="text-center">TOTAL NO. OF SERVICES BY NETWORK ( COMPLETE AND INCOMPLETE, top 10)</p>
    <%= area_chart Task.joins(:technician).group("users.first_name").count %>
  </section>
  <section>
    <p class="text-center">NO. OF UNSCHEDULED SERVICES BY MANUFACTURER</p>
    <%= bar_chart Task.group(:schedule).count, colors: ["rgba(0,115,222,1)"] %>
  </section>
</div>
<div class="g-two mb-3">
  <section class="s-ot p-4">
    <p class="text-center">EQUIPMENT WITH THE  MOST SERVICE (top 10)</p>
    <%= pie_chart({"COMPLETE" => @complete, "INCOMPLETE" => @incomplete}, donut: true, height: "280px", width: "280px") %>
  </section>
  <section class="s-tt">
    <p class="text-center">EQUIPMENT WARRANTY EXPIRATION (top 10)</p>
    <%= bar_chart Task.joins(:technician).group("users.first_name").count, colors: ["rgba(0,115,222,1)"] %>
  </section>
</div>
<section class="mb-3">
  <p class="text-center">COMPLETE AND INCOMPLETE TASK OVER TIME</p>
  <%= column_chart @split_tasks_per_month, stacked: true, legend: false, discrete: true, label: ["INCOMPLETE TASKS", "COMPLETE TASKS"] %>
</section>
