<!DOCTYPE html>
<html>
  <head>
    <title>MaintenanceTrackerV2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% unless hide_nav %>
      <%= render "shared/navbar" %>
    <% end %>
    <%= render "shared/flashes" %>
    <div class="min-height">
      <div class="<%= 'mt-wrapper' unless hide_nav %>">
        <%= render 'shared/sidebar' unless hide_nav %>
        <div class="<%= 'mt-content' unless hide_nav %>">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
