<!DOCTYPE html>
<html>
  <head>
    <title>MaintenanceTrackerV2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% unless params[:controller] == 'pages' && params[:action] == 'home' %>
      <%= render "shared/navbar" %>
    <% end %>
    <%= render "shared/flashes" %>
    <div class="min-height">
      <div class="mt-wrapper">
        <%= render 'shared/sidebar' %>
        <div class="mt-content">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
